* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    cursor: url(../assets/images/mouseicon.png), auto;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #083862;
}

::-webkit-scrollbar-thumb {
    background-color: var(--font-color-primary);
    border-radius: 30px;
}

:root {
    --font-color-primary: #0086bb;
    --font-color-secondary: #1E2326;
    --font-color-thirthy: #0D2235;
    --font-color-secunarytxt: #CCC;
}

body {
    background-color: #04213b;
}

.container {
    width: 70%;
}

.sectionTitle {
    color: #FFF;
    font-size: 45px;
    margin-top: 60px;
}

/* CABEÇALHO */
#header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(114, 114, 126, 0.5);
    transition: all 0.5s ease;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    transition: all 0.5s ease;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: 'Kanit';
    font-weight: 600;
    font-size: 25px;
    transition: all .3s ease;
}

.logo a:hover {
    color: var(--font-color-primary);
}

/* MENU DE NAVEGAÇÃO */
.menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    transition: all .5s ease;
}

nav ul {
    display: flex;
    align-items: center;
    transition: all .5s ease;
}

nav ul li {
    margin: 0 25px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    transition: all .2s ease-out;
    padding-bottom: 4px;
}

nav ul li a:hover {
    border-bottom: 2px solid var(--font-color-primary);
}

.active {
    border-bottom: 2px solid var(--font-color-primary);
}

/* HOME */
#home {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    background: rgb(13,34,53);
    background: linear-gradient(0deg, rgba(13,34,53,1) 0%, rgba(8,56,98,1) 30%, rgba(8,56,98,1) 70%, rgba(13,34,53,1) 100%); 
}

.home {
    display: flex;
}

/* LEFT SIDE HOME */
.myInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.myInfo h2 {
    color: #FFF;
    font-weight: 300;
    margin: 20px 0 5px 0;
}

.myInfo h1 {
    color: #FFF;
    font-family: 'Kanit';
    font-size: 70px;
    font-weight: 700;
    line-height: 60px;
}

.myInfo h1 span {
    color: var(--font-color-primary);
}

.myInfo a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 60px;
    margin-top: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(40deg, rgba(0,0,0,1) 0%, rgba(0,43,116,1) 65%, rgba(0,94,255,1) 100%);
    border: 1px solid var(--font-color-primary);
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    transition: all .8s ease;
}

.myInfo a:hover {
    width: 300px;
}

/* RIGHT SIDE HOME */
.myImage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myImage img {
    width: 100%;
    transition: all .7s ease;
}

.myImage img:hover {
    transform: scale(1.1);
}

/* ABOUT ME */
#aboutMe {
    display: flex;
    justify-content: center;
    background-color: var(--font-color-thirthy);
}

.aboutMe {
    display: flex;
    margin: 100px 0;
}

.aboutMeImage {
    flex: 1;
    display: flex;
    align-items: center;
}

.aboutMeImage img {
    width: 85%;
    transition: all .8s ease-in-out;
}

.aboutMeImage img:hover {
    transform: scale(1.09);
}

.aboutMeInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutMeInfo h2 {
    color: #FFF;
    font-size: 40px;
    margin-bottom: 20px;
}

.bluePoint {
    color: var(--font-color-primary);
    font-size: 70px;
}

.aboutMeInfo p {
    color: var(--font-color-secunarytxt);
    line-height: 30px;
}

/* PROJECTS */
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectsAarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.projectsBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all .5s ease;
}

.projectsImg {
    width: 350px;
    height: 200px;
    margin: 40px 10px 25px 10px;
    background-image: url(../assets/images/projects-avax.png);
    background-position: center;
    background-size: cover;
    border: 2px solid rgb(0, 0, 0, 0);
    transition: all .4s ease;
    box-shadow: 4px 4px 0px #0000003d;
}

.projectsImg:hover {
    border: 2px solid var(--font-color-primary);
    transform: scale(1.08, 1.08);
}

.projectsImg:nth-child(2) {
    background-image: url(../assets/images/projects-devboost.png);
}

.projectsImg:nth-child(3) {
    background-image: url(../assets/images/projects-starbucks.png);
}

.projectsImg:nth-child(4) {
    background-image: url(../assets/images/projects-medcenter.png);
}

.projectsImg:nth-child(5) {
    background-image: url(../assets/images/projects-bateria.png);
}

.projectsImg:nth-child(6) {
    background-image: url(../assets/images/projects-pizzas.png);
}

.moreProjects {
    text-decoration: none;
    font-weight: 600;
    color: var(--font-color-primary);
    transition: all .3s ease;
    margin-bottom: 60px;
}

.moreProjects:hover {
    color: #FFF;
}

/* KNOWLEDGE */
#knowledge {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--font-color-thirthy);
}

#knowledge h2 {
    color: #FFF;
    font-size: 45px;
    margin-top: 60px;
}

.knowledge {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.knowledgeArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.knowledgeBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
    margin: 20px 20px 60px 20px;
    background-color: #04213b;
    border: 2px solid #0086bb00;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #0086bb;
    transition: all 1s ease;
}

.knowledgeBox:hover {
    border: 2px solid #0086bb;
}

.knowledgeBox img {
    width: 100px;
    position: absolute;
    transform: translateY(0px);
    opacity: 1;
    transition: all .5s ease;
}

.knowledgeBox:hover img {
    transform: translateY(-100px);
    opacity: 0;
}

.knowledgeNameColor {
    color: var(--font-color-primary);
}

.knowledgeBox p {
    transform: translateY(85px);
    opacity: 0;
    transition: all .5s ease;
    padding: 20px;
    font-size: 18px;
    color: #FFF;
    text-align: center;
}

.knowledgeBox:hover p {
    transform: translateY(0px);
    opacity: 1;
}

/* CONTACT */
#contact {
    display: flex;
    justify-content: center;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contactBox {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 50px 25px 80px 25px;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border-radius: 50%;
    border: 4px solid #0086bb00;
    transition: all .8s ease;
}

.contactBox:hover {
    border: 4px solid #0086bb;
}


.contactBox a img {
    width: 50px;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    background-color: var(--font-color-thirthy);
}


.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    opacity: 0.5;
}

.footerInfo a {
    text-decoration: none;
    color: #FFF;
}

.footerInfo a:hover {
    text-decoration: underline;
}




/* MOBILE MENU */

.menuMobile {
    display: none;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 10px 0px 10px 0px;
}

.mm_line {
    height: 3px;
    margin: 3px;
    background-color: #39AAE1;
}

/* MEDIA QUERY'S */

@media (min-width: 769px) and (max-width: 1279px) {

    .container {
        width: 80%;
    }

    nav ul li {
        margin: 10px;
    }

    nav ul li a {
        font-size: 18px;
    }

    .myImage img {
        width: 350px;
    }

    .myInfo h2 {
        font-size: 20px;
    }

    .myInfo h1 {
        font-size: 50px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .container {
        width: 80%;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        top: 101px;
        left: 0;
        background-color: #04213b;
        height: 100vh;
        width: 100vw;
    }

    .myImage {
        display: none;
    }

    .myInfo h2 {
        font-size: 20px;
    }

    .myInfo h1 {
        font-size: 50px;
    }

    .aboutMeImage {
        display: none;
    }

    .aboutMeInfo h2 {
        text-align: center;
        font-size: 45px;
    }

    .aboutMeInfo p {
        text-align: justify;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .container {
        width: 80%;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
    }

    .sectionTitle {
        margin-bottom: 30px;
    }

    nav {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        top: 101px;
        left: 0;
        background-color: #04213b;
        height: 100vh;
        width: 100vw;
    }

    .myImage {
        display: none;
    }

    .myInfo h2 {
        font-size: 18px;
    }

    .myInfo h1 {
        font-size: 40px;
    }

    .aboutMeImage {
        display: none;
    }

    .aboutMeInfo h2 {
        text-align: center;
        font-size: 45px;
    }

    .aboutMeInfo p {
        text-align: justify;
    }

    .projectsImg {
        width: 250px;
        height: 150px;
        margin: 17px 0px;
    }

    #knowledge h2 {
        font-size: 35px;
    }

    #contact h2 {
        text-align: center;
        line-height: 40px;
        font-size: 50px;
    }

    .contactBox {
        margin: 20px 10px;
    }

    footer {
        margin-top: 20px;
    }
}